root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{json,jsonc,json5,toml,yaml,yml}]
indent_size = 2

[*.{ts,tsx,js,jsx,mjs,cjs,mts,cts}]
indent_size = 2
max_line_length = 100

[*.{md,mdx}]
trim_trailing_whitespace = false
max_line_length = 120

[Makefile]
indent_style = tab

[*.{mmd,mermaid}]
indent_size = 2
